<app-header-lambaad [lambaadMyData]="lambaadPersonal"></app-header-lambaad>
<mat-tab-group>
  <mat-tab>
      <ng-template matTabLabel>
        <mat-icon>restaurant_menu</mat-icon>
        Restaurant Menu
      </ng-template>
      <app-lambaad-restaurant-menu [sharedRestaurantMenu991702428]="lambaadRestaurantMenuJSON" [sharedResturantInfo991702428]="lambaadRestaurantInfoJSON"></app-lambaad-restaurant-menu>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <mat-icon>list</mat-icon>
      Menu Options
    </ng-template>
    <app-lambaad-menu-options [sharedRestaurantMenu991702428]="lambaadRestaurantMenuJSON"></app-lambaad-menu-options>
  </mat-tab>
</mat-tab-group>
<app-footer-lambaad [lambaadMyData]="lambaadPersonal"></app-footer-lambaad>
